/* Style each individual thread */
.userwall-wp-thread {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

/* Style the thread content */
.userwall-wp-thread-content {
    font-size: 16px;
}

/* Style the thread author */
.userwall-wp-thread-author {
    font-size: 12px;
    color: #666;
}

/* Style the comment section */
.userwall-wp-comment-section {
    margin-top: 10px;
}

/* Style each individual comment */
.userwall-wp-comment {
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

/* Style the comment content */
.userwall-wp-comment-content {
    font-size: 14px;
}

/* Style the comment author */
.userwall-wp-comment-author {
    font-size: 12px;
    color: #888;
}

/* Style the reply button */
.userwall-wp-reply-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Style the reply button on hover */
.userwall-wp-reply-button:hover {
    background-color: #0056b3;
}

/* Style the ellipsis icon */
.userwall-wp-ellipsis {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Style the actions area */
.userwall-wp-thread-actions {
    position: absolute;
    top: 40px; /* Adjust the position as needed */
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 999;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); /* Add a shadow for visual effect */
    display: block;
    margin-top: 10px; /* Optional: Add some spacing between actions */
}

/* Style the actions */
.userwall-wp-action {
    font-size: 14px;
    color: #007bff;
    display: block; /* Make each action appear on a new line */
    cursor: pointer; /* Add a pointer cursor on hover */
    margin-right: 10px;
}

/* Style the actions on hover */
.userwall-wp-action:hover {
    text-decoration: underline;
}

.userwall-wp-wall-image {
    width: 100%;
    height: auto;
}

.userwall-wp-author-section {
    display: flex;
}

.userwall-wp-author h3 {
    margin: 0px;
    font-size: 1.2rem;
}

.userwall-wp-author-image-wrapper {
    margin-right: 10px;
}

.userwall-wp-author-image-wrapper img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.userwall-wp-wall-time {
    font-size: 0.8rem;
}

.userwall-wp-activity-section {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.userwall-wp-activity-block {
    display: flex;
    align-items: center;
}

.userwall-wp-activity-section  .userwall-wp-comment-img {
    width: 20px;  /* Set width equal to the SVG width */
    height: 20px; /* Set height equal to the SVG height */
    text-align: center; /* To center the text horizontally */
    line-height: 20px; /* To center the text vertically */
    font-size: 14px; /* Adjust as needed */
    margin-right: 4px;
}

.userwall-wp-activity-section svg {
    width: 20px;
    height: 20px;
}


.userwall-wp-activity-section, 
.userwall-wp-author-section,
.hreads-wp-thread-content,
.userwall-edit-post-section,
.ql-container {
    margin-bottom: 20px;
}

.userwall-wp-reddit-thread input[type="submit"],
.userwall-wp-form-wrapper .submit-button,
.comment-submit-button,
.userwall-wp-reply-button {
    border: 0px;
    padding: 10px 30px;
    background-color: #0079d3;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.userwall-wp-comment-count.userwall-wp-activity-block,
.userwall-wp-reaction-count.userwall-wp-activity-block {
    cursor: pointer;
}

.userwall-wp-post-types ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}


.userwall-wp-post-types ul a {
    text-decoration: none;
}