/* Style the form container */
#userwall-wp-post-form {
    background-color: #fff;
    border: 1px solid #e1e8ed;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

/* Style the text area for post content */
#userwall-wp-post-content {
    width: 100%;
    min-height: 100px;
    border: none;
    resize: none;
    font-size: 16px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

/* Style the post button */
#userwall-wp-post-button {
    background-color: #1da1f2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

/* Style the post button on hover */
#userwall-wp-post-button:hover {
    background-color: #0d86c9;
}

.reddit-form {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
}

.threads-tabs {
    list-style: none;
    padding: 0;
    display: flex;
}

.threads-tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: #eee;
}

.threads-tab-content {
    display: none;
}

/*
textarea,
input[type="file"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
*/

/* Style the currently active tab */
.threads-tab.active {
    background-color: #0079d3;
    color: #fff;
}

.threads-tab-content.active {
    display: block;
}

.userwall-wp-reddit-thread {
    background-color: #f7f7f7;
}

/* CSS for image upload area and previews */
.image-upload-area {
    display: flex; /* Use flexbox for image previews */
    flex-wrap: wrap; /* Allow wrapping of image previews */
    gap: 10px; /* Spacing between image previews */
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.upload-label {
    cursor: pointer;
}

.image-preview {
    flex: 0 0 calc(33.33% - 10px); /* Set the width for uniform size with spacing */
    max-width: 220px; /* Maximum width for uniform size */
    height: 220px; /* Height for uniform size */
    border-radius: 11px; /* Rounded corners */
    overflow: hidden; /* Hide any overflowing content */
    position: relative;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the entire space */
}

.remove-image {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fff;
    padding: 2px 5px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.userwall-wp-gallery-arrow {
    width: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    height: 40px;
}

.userwall-wp-gallery-arrow svg {

}

.userwall-wp-wall-time {
    cursor: pointer;
}